@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Continuum';
    src: url('../fonts/continuum-bold-regular.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Continuum';
    src: url('../fonts/continuum-medium-regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Denmark';
    src: url('../fonts/Denmark.ttf');
    font-weight: normal;
}
