@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Continuum';
    src: url('../fonts/continuum-bold-regular.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Continuum';
    src: url('../fonts/continuum-medium-regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Denmark';
    src: url('../fonts/Denmark.ttf');
    font-weight: normal;
}
