.navbar-brand {
    font-family: Denmark, sans-serif;
    text-transform: lowercase;
}

.navbar-brand .navbar-brand-slogan {
    font-family: "Continuum Medium";
}

.navbar.bg-primary {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
}

.navbar .navbar-nav > .nav-item > .nav-link {
    font-family: "Continuum Medium", sans-serif;
    text-transform: lowercase;
    color: #fff;
}

.navbar .navbar-nav > .nav-item > .nav-link:hover {
    color: #f8b133;
}

.no-shadow {
    transition: all .35s;
}

.jumbotron {
    background: transparent;
    margin-bottom: 0;
}

.btn {
    font-family: "Continuum Medium";
}

.bg-transparent {
    background: transparent;
}

.card.card-service-item {
    background: transparent;
    border: none;
}

.card.card-service-item.with-counter::before{
    content: counter(ctr, decimal-leading-zero) ".";
    display: block;
    counter-increment: ctr;
    font-family: Denmark, sans-serif;
    margin: 2.6rem 0 2.2rem;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1;
    color: #f8b133;
}

.lead {
    font-weight: bold;
}

.stack-icon {
    width: 23.99%;
    background: white;
    margin-bottom: .25em;
    border-radius: 100%;
}

.breadcrumb {
    background: #f8b133;
}

.breadcrumb a {
    color: #390b46;
}

.modal-content {
    background: #390b46;
    color: #fff;
}

.close{
    color: #f8b133;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: Nunito, sans-serif;
    font-size: 18px;
    counter-reset: ctr;
}

h1, h2, h3, h4, h5, h6, a {
    color: #f8b133;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.55em;
}

h4 {
    font-size: 1.45em;
}

h5 {
    font-size: 1.35em;
}

a:hover {
    color: #ccc;
}

h1 {
    font-family: Denmark, sans-serif;
    text-transform: lowercase;
}

h2, h3, h4, h5, h6 {
    font-family: "Continuum Medium", sans-serif;
}

main {
    background-color: rgba(57, 11, 70, .9);
    color: white;
    padding: 76px 0 1em;
}

body > footer {
    color: white;
    padding: 2em 0;
}

.card.card-portfolio {
    background: #21002a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
}

.pre-footer {
    background: rgba(248, 177, 51, .9);
    color: #21002a;
    padding: 2em 0;
}

.pre-footer h2 {
    color: #21002a;
}

.nav-social{
    font-size: 2.5em;
}

@media (min-width: 960px) {
    body {
        font-size: 20px;
    }

    main {
        padding: 81px 0 2em;
    }

    section.block {
        margin: 4em 0 2em;
    }

    body > footer {
        padding: 4em 30% 2em;
    }

    .jumbotron {
        padding: 4rem 2rem 2rem;
    }

    .breadcrumb {
        margin-bottom: 2em;
    }

    .navbar-brand {
        font-size: 20px;
    }

    .lead {
        font-size: 1.25em;
    }

    .card.card-service-item {
        max-width: 47.4%;
    }

    .card.card-portfolio .card-title {
        font-size: 1.12em;
    }

    section.block header h2 {
        font-family: Denmark;
        text-transform: lowercase;
    }

    header.jumbotron p.lead,
    section.block header p.lead {
        font-size: 2em;
        line-height: 1.1;
        margin: 2em 10% 1em;
        text-align: left;
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 4.00em;
    }

    h3 {
        font-size: 1.75em;
    }

    h4 {
        font-size: 1.55em;
    }

    h5 {
        font-size: 1.35em;
    }

    .stack-icon {
        width: 15%;
    }

    .nav-social{
        font-size: 2em;
    }

}