body {
    padding-top: 87px;
    color: #300a24;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

.navbar, .btn, h1, .h1 {
    font-family: Denmark, sans-serif;
    text-transform: lowercase;
    font-weight: normal;
}

h2, h3, h4, h5, h6,
.h2, .h3, .h4, .h5, .h6 {
    font-family: Continuum, sans-serif;
}

.navbar-brand {
    text-transform: lowercase;
}

.btn {
    border-radius: 0;
}

header.jumbotron {
    background: transparent;
    padding-right: 0;
    padding-left: 0;
}

h1.display-4 {
    font-size: 3.5em;
}

.card {
    border: none;
}

.breadcrumb {
    background: none;
    font-size: .75em;
    padding-left: 0;

}

.landing > div > section{
    padding: 4em 0;
}

.landing > div > section:nth-child(odd){
    background: rgba(66, 141, 209, .05);
}

/* Or apply it via media query */
@media (prefers-color-scheme: dark) {
    body {
        background: #300a24;
        color: #fff;
    }

    .navbar.navbar-light.bg-white {
        background: #300a24 !important;
    }

    .navbar-light .navbar-brand,
    .navbar-light .navbar-nav .nav-link {
        color: rgba(255, 255, 255, 0.75);
    }

    .navbar-light .navbar-brand:hover,
    .navbar-light .navbar-nav .nav-link:hover {
        color: #fff;
    }

    .card {
        background: #300a24;
    }
}

@media (min-width: 992px) {
    header.jumbotron h1 {
        font-size: 6em;
    }

    .landing > div > section header > .container{
        padding-right: 40%;
    }

    .landing > div > section header h2{
        font-size: 4em;
    }
}

@media (min-width: 1200px) {
    header.jumbotron h1 {
        text-align: center;
    }

    header.jumbotron h1 > img.img-fluid {
        /*width: 50%;*/
    }
}


