body {
    padding-top: 79px;
    font-size: 18px;
    font-family: "Asap", sans-serif;
    color: #300a24;
}

body > footer {
    padding-top: 3em;
    padding-bottom: 2em;
    font-size: .85em;
}

body > footer h2 {
    border-bottom: 1px solid rgb(66, 141, 209, 0.4);
}

h1 {
    font-family: Denmark;
}

h2, h3, h4, h5, h6, .breadcrumb {
    font-family: "Continuum Medium";
}

h1 {
    font-size: 2.6em;
    word-break: break-word;
}

h2 {
    font-size: 2em;
}

.jumbotron {
    background: #300a24;
    margin-bottom: 0;
    border-radius: 0;
    color: #fff;
    text-align: center;
}

.jumbotron h1 {
    color: #fff !important;
    text-transform: lowercase;
}

.jumbotron .lead{
    font-family: 'Continuum Medium', sans-serif;
    font-weight: normal;
}

.navbar-brand {
    font-family: Denmark;
    text-transform: lowercase;
}

.navbar-dark.bg-dark {
    background: #300a24 !important;
}

.navbar-light{
    padding-top: 0;
    padding-bottom: 0;
    transition: padding-top 0.5s;
}

.navbar-light .navbar-brand {
    color: #300a24;
}

.navbar-dark .navbar-nav .nav-link {
    color: #428dd1;
}

.navbar-nav .nav-link,
.navbar-brand-slogan {
    font-family: "Continuum Light";
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link,
.navbar-brand-slogan {
    color: #428dd1;
}

.breadcrumb {
    padding-left: 0;
    background: transparent;
}

.btn {
    font-family: "Asap", sans-serif;
}

.lead {
    font-weight: 100;
    font-size: 1.25em;
}

h2.card-title,
h3.card-title {
    font-size: 1.5em;
}

.small {
    font-size: .85em;
}

.no-shadow {
    box-shadow: none;
}

section.block {
    margin: 2em 0;
}


@media (min-width: 992px) {
    body {
        padding-top: 91px;
        font-size: 20px;
    }

    h1 {
        font-size: 4.5em;
        word-break: break-word;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2.75em;
    }

    body > footer {
        padding-top: 6em;
        padding-bottom: 4em;
    }

    body > footer .list-social {
        font-size: 2em;
    }

    .jumbotron {
        padding-top: 4em;
        padding-bottom: 6em;
    }

    .landing .jumbotron h1 {
        font-size: 5em;
        text-transform: uppercase;
    }

    .service-item {
        margin: 4em 0;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 960px;
    }
}
